@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
:root {
  --theme-color: #232946;
  --main-color: #fffffe;
  --secondary-color: #b8c1ec;
  --button-color: #eebbc3;
  --background-color: #f9f4ef;
}

* {
  margin: 0;
  /* padding: 0; */
  /* box-sizing: border-box; */
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
  font-family: 'Roboto Flex', sans-serif;
}
